In [2]:
# Imports and dependencies
import pandas as pd
provisional_deaths = "resources/provisional_deaths.csv"
historical_deaths = "resources/causeofdeaththrough2020.csv"
gender_deaths = "resources/causeofdeathgender.csv"
race_deaths = "resources/causeofdeathrace.csv"

In [9]:
gender_data_df = pd.read_csv(gender_deaths)
gender_data_df = gender_data_df[["Year", "State", "Gender", "Deaths", "Population", "Crude Rate"]]
gender_data_df = gender_data_df.dropna(how="any")
gender_data_df.to_csv("output/suicides_by_gender.csv", index=True)
gender_data_df

        Year          State  Gender  Deaths  Population Crude Rate
0     1999.0        Alabama  Female    96.0   2293259.0        4.2
1     1999.0        Alabama    Male   458.0   2136882.0       21.4
2     1999.0         Alaska  Female    22.0    301266.0        7.3
3     1999.0         Alaska    Male    74.0    323513.0       22.9
4     1999.0        Arizona  Female   163.0   2518299.0        6.5
...      ...            ...     ...     ...         ...        ...
2220  2020.0  West Virginia    Male   291.0    884276.0       32.9
2221  2020.0      Wisconsin  Female   158.0   2928939.0        5.4
2222  2020.0      Wisconsin    Male   708.0   2903716.0       24.4
2223  2020.0        Wyoming  Female    29.0    285437.0       10.2
2224  2020.0        Wyoming    Male   153.0    296891.0       51.5

[2225 rows x 6 columns]

In [10]:
race_data_df = pd.read_csv(race_deaths)
race_data_df = race_data_df[["Year", "State", "Race",  "Deaths", "Population", "Crude Rate"]]
race_data_df = race_data_df.dropna(how="any")
race_data_df.to_csv("output/suicides_by_race.csv", index=True)
race_data_df

,Year,State,Race,Deaths,Population,Crude Rate
0,1999.0,Alabama,Black or African American,61.0,1162673.0,5.2
1,1999.0,Alabama,White,492.0,3211308.0,15.3
2,1999.0,Alaska,American Indian or Alaska Native,34.0,105727.0,32.2
3,1999.0,Alaska,White,60.0,462052.0,13
4,1999.0,Arizona,American Indian or Alaska Native,43.0,275286.0,15.6
...,...,...,...,...,...,...
2636,2020.0,Wisconsin,American Indian or Alaska Native,10.0,78876.0,Unreliable
2637,2020.0,Wisconsin,Asian or Pacific Islander,12.0,197416.0,Unreliable
2638,2020.0,Wisconsin,Black or African American,40.0,435275.0,9.2
2639,2020.0,Wisconsin,White,804.0,5121088.0,15.7
2640,2020.0,Wyoming,White,177.0,546461.0,32.4