In [2]:
# Imports and dependencies
import pandas as pd
provisional_deaths = "resources/provisional_deaths.csv"
historical_deaths = "resources/causeofdeaththrough2020.csv"

In [66]:
provisional_data = pd.read_csv(provisional_deaths)
prov_data_refined = provisional_data[["Year", "Month", "Intentional Self-Harm (Suicide)"]]
prov_data_years = prov_data_refined.groupby(["Year"])
prov_data_years_df = prov_data_years.sum()
prov_data_years_df = prov_data_years_df.rename(columns={"Intentional Self-Harm (Suicide)": "Deaths"})
prov_data_years_df = prov_data_years_df[["Deaths"]]
prov_data_years_df = prov_data_years_df.drop([2020, 2023])
prov_data_years_df["Population"] = ["332000000", "333000000"]
prov_data_years_df["Population"] = pd.to_numeric(prov_data_years_df["Population"])
prov_data_years_df["Crude Rate"] = ((prov_data_years_df["Deaths"] / prov_data_years_df["Population"]) * 100000)
prov_data_years_df["Crude Rate"] = pd.to_numeric(prov_data_years_df["Crude Rate"])


prov_data_years_df.index = prov_data_years_df.index.map(int)
prov_data_years_df
#prov_data_years_df = prov_data_years_df[["Intentional Self-Harm (Suicide)"]]
#prov_data_years_df.to_csv("output/provisional_deaths_by_year.csv", index=True)

       Deaths  Population  Crude Rate
Year
2021  48148.0   332000000   14.502410
2022  33329.0   333000000   10.008709

In [4]:
historical_data_df = pd.read_csv(historical_deaths)
historical_data_df = historical_data_df[["Year", "State", "Deaths", "Population", "Crude Rate"]]
historical_data_df = historical_data_df.dropna(how="any")
historical_data_df

        Year          State  Deaths  Population  Crude Rate
0     1999.0        Alabama   554.0   4430141.0        12.5
1     1999.0         Alaska    96.0    624779.0        15.4
2     1999.0        Arizona   766.0   5023823.0        15.2
3     1999.0       Arkansas   336.0   2651860.0        12.7
4     1999.0     California  3071.0  33499204.0         9.2
...      ...            ...     ...         ...         ...
1138  2020.0       Virginia  1201.0   8590563.0        14.0
1139  2020.0     Washington  1212.0   7693612.0        15.8
1140  2020.0  West Virginia   354.0   1784787.0        19.8
1141  2020.0      Wisconsin   866.0   5832655.0        14.8
1142  2020.0        Wyoming   182.0    582328.0        31.3

[1122 rows x 5 columns]

In [33]:
historical_year_state = historical_data_df.groupby(["Year"])
yearly_suicides_df = historical_year_state.sum()
yearly_suicides_df = yearly_suicides_df[["Deaths", "Population"]]
yearly_suicides_df.index = yearly_suicides_df.index.map(int)
yearly_suicides_df

       Deaths   Population
Year
1999  29193.0  279040168.0
2000  29324.0  281421906.0
2001  30561.0  284968955.0
2002  31611.0  287625193.0
2003  31435.0  290107933.0
2004  32372.0  292805298.0
2005  32565.0  295516599.0
2006  33207.0  298379912.0
2007  34531.0  301231207.0
2008  35975.0  304093966.0
2009  36842.0  306771529.0
2010  38312.0  308745538.0
2011  39448.0  311591917.0
2012  40536.0  313914040.0
2013  41064.0  316128839.0
2014  42762.0  318857056.0
2015  44152.0  321418820.0
2016  44883.0  323127513.0
2017  47111.0  325719178.0
2018  48315.0  327167434.0
2019  47481.0  328239523.0
2020  45946.0  329484123.0

In [57]:
yearly_suicides_df["Crude Rate"] = ((yearly_suicides_df["Deaths"] / yearly_suicides_df["Population"]) * 100000)
yearly_suicides_df
#yearly_suicides_df.to_csv("output/yearly_suicide_rate_1999_2020.csv", index=True)

       Deaths   Population  Crude Rate
Year
1999  29193.0  279040168.0   10.461935
2000  29324.0  281421906.0   10.419942
2001  30561.0  284968955.0   10.724326
2002  31611.0  287625193.0   10.990345
2003  31435.0  290107933.0   10.835622
2004  32372.0  292805298.0   11.055811
2005  32565.0  295516599.0   11.019686
2006  33207.0  298379912.0   11.129100
2007  34531.0  301231207.0   11.463288
2008  35975.0  304093966.0   11.830225
2009  36842.0  306771529.0   12.009589
2010  38312.0  308745538.0   12.408924
2011  39448.0  311591917.0   12.660149
2012  40536.0  313914040.0   12.913089
2013  41064.0  316128839.0   12.989641
2014  42762.0  318857056.0   13.411025
2015  44152.0  321418820.0   13.736595
2016  44883.0  323127513.0   13.890182
2017  47111.0  325719178.0   14.463686
2018  48315.0  327167434.0   14.767668
2019  47481.0  328239523.0   14.465351
2020  45946.0  329484123.0   13.944830

In [67]:
annual_suicide_rate_df = yearly_suicides_df.append(prov_data_years_df)
annual_suicide_rate_df

C:\Users\ejmat\AppData\Local\Temp\ipykernel_8524\2551433547.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  annual_suicide_rate_df = yearly_suicides_df.append(prov_data_years_df)

       Deaths   Population  Crude Rate
Year
1999  29193.0  279040168.0   10.461935
2000  29324.0  281421906.0   10.419942
2001  30561.0  284968955.0   10.724326
2002  31611.0  287625193.0   10.990345
2003  31435.0  290107933.0   10.835622
2004  32372.0  292805298.0   11.055811
2005  32565.0  295516599.0   11.019686
2006  33207.0  298379912.0   11.129100
2007  34531.0  301231207.0   11.463288
2008  35975.0  304093966.0   11.830225
2009  36842.0  306771529.0   12.009589
2010  38312.0  308745538.0   12.408924
2011  39448.0  311591917.0   12.660149
2012  40536.0  313914040.0   12.913089
2013  41064.0  316128839.0   12.989641
2014  42762.0  318857056.0   13.411025
2015  44152.0  321418820.0   13.736595
2016  44883.0  323127513.0   13.890182
2017  47111.0  325719178.0   14.463686
2018  48315.0  327167434.0   14.767668
2019  47481.0  328239523.0   14.465351
2020  45946.0  329484123.0   13.944830
2021  48148.0  332000000.0   14.502410
2022  33329.0  333000000.0   10.008709